
.cabecalho{
    display: flex;
    justify-content: space-between;
    background-color: #282C34;
    padding: 20px;
    box-shadow: 0px 1px 10px rgb(124, 124, 124);
    color: rgb(1, 231, 231);
}
.cabecalho nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecalho nav ul{
    display: flex;
    list-style: none;
}

.cabecalho nav ul li{
    padding: 10px;
}


.cabecalho a{
    text-decoration: none;
    cursor: pointer;
    color: rgb(1, 231, 231);
    font-size: 1.1em;
    transition: 0.3s;
}


.cabecalho a:hover{
    color: rgb(1, 139, 139);
    background-color: rgb(1, 231, 231);
    font: 1.1em;
    font-weight: bold;
    padding: 10px;
    border-radius: 3px;
}
