
.cabecalho{
    display: flex;
    justify-content: space-between;
    background-color: #282C34;
    padding: 20px;
    box-shadow: 0px 1px 10px rgb(124, 124, 124);
    color: rgb(1, 231, 231);
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo_list{
    display: flex;
    list-style: none;
    align-items: center;
}

.logo_list li{
    cursor: pointer;
    margin-right: 15px;
}

.logo_list SVG{
    font-size: 3em;
}


.nav_list{
    display: flex;
    list-style: none;
}

.nav_list li{
    margin: 10px;
}


.nav_list a{
    text-decoration: none;
    color: rgb(1, 231, 231);
    font-weight: 400;
    font-size: 1.1em;
    transition: 0.3s;
}


.nav_list a:hover{
    color: rgb(1, 139, 139);
    font: 1.1em;
}
